In [1]:
import plotly 
from plotly import __version__
print(__version__)
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

4.7.1

In [2]:
init_notebook_mode(connected=True)

In [5]:
import chart_studio.plotly as py

In [1]:
import plotly.graph_objs as go 
import numpy as np
import pandas as pd

In [5]:
covid = pd.read_csv(r'C:\Users\Gufran Ahmed\Downloads\covid-19 pot1\covid_19_data.csv')

In [7]:
covid

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
30878,30879,05/28/2020,Yucatan,Mexico,2020-05-29 02:32:50,1661.0,139.0,1119.0
30879,30880,05/28/2020,Yukon,Canada,2020-05-29 02:32:50,11.0,0.0,11.0
30880,30881,05/28/2020,Yunnan,Mainland China,2020-05-29 02:32:50,185.0,2.0,183.0
30881,30882,05/28/2020,Zacatecas,Mexico,2020-05-29 02:32:50,272.0,31.0,182.0
30882,30883,05/28/2020,Zhejiang,Mainland China,2020-05-29 02:32:50,1268.0,1.0,1267.0

In [8]:
covid.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [20]:
df_covid = covid[['Date', 'Country/Region', 'Confirmed', 'Recovered','Deaths',]]

In [13]:
covid.rename(columns={'ObservationDate':'Date',}, inplace=True)

In [21]:
df_covid

             Date  Country/Region  Confirmed  Recovered  Deaths
0      01/22/2020  Mainland China        1.0        0.0     0.0
1      01/22/2020  Mainland China       14.0        0.0     0.0
2      01/22/2020  Mainland China        6.0        0.0     0.0
3      01/22/2020  Mainland China        1.0        0.0     0.0
4      01/22/2020  Mainland China        0.0        0.0     0.0
...           ...             ...        ...        ...     ...
30878  05/28/2020          Mexico     1661.0     1119.0   139.0
30879  05/28/2020          Canada       11.0       11.0     0.0
30880  05/28/2020  Mainland China      185.0      183.0     2.0
30881  05/28/2020          Mexico      272.0      182.0    31.0
30882  05/28/2020  Mainland China     1268.0     1267.0     1.0

[30883 rows x 5 columns]

In [22]:
df_covid.describe()

           Confirmed      Recovered        Deaths
count   30883.000000   30883.000000  30883.000000
mean     6496.369491    2137.701648    423.286663
std     25122.174409   13037.203686   2321.826471
min         0.000000       0.000000      0.000000
25%        22.000000       0.000000      0.000000
50%       272.000000      12.000000      4.000000
75%      1806.000000     284.500000     49.000000
max    379051.000000  399991.000000  37837.000000

In [23]:
df_covid.loc[df_covid['Country/Region'] == 'India']

             Date Country/Region  Confirmed  Recovered  Deaths
430    01/30/2020          India        1.0        0.0     0.0
491    01/31/2020          India        1.0        0.0     0.0
547    02/01/2020          India        1.0        0.0     0.0
607    02/02/2020          India        2.0        0.0     0.0
672    02/03/2020          India        3.0        0.0     0.0
...           ...            ...        ...        ...     ...
28594  05/24/2020          India   138536.0    57692.0  4024.0
29046  05/25/2020          India   144950.0    60706.0  4172.0
29498  05/26/2020          India   150793.0    64277.0  4344.0
29950  05/27/2020          India   158086.0    67749.0  4534.0
30401  05/28/2020          India   165386.0    70920.0  4711.0

[120 rows x 5 columns]

In [26]:
df_covid

             Date  Country/Region  Confirmed  Recovered  Deaths
0      01/22/2020  Mainland China        1.0        0.0     0.0
1      01/22/2020  Mainland China       14.0        0.0     0.0
2      01/22/2020  Mainland China        6.0        0.0     0.0
3      01/22/2020  Mainland China        1.0        0.0     0.0
4      01/22/2020  Mainland China        0.0        0.0     0.0
...           ...             ...        ...        ...     ...
30878  05/28/2020          Mexico     1661.0     1119.0   139.0
30879  05/28/2020          Canada       11.0       11.0     0.0
30880  05/28/2020  Mainland China      185.0      183.0     2.0
30881  05/28/2020          Mexico      272.0      182.0    31.0
30882  05/28/2020  Mainland China     1268.0     1267.0     1.0

[30883 rows x 5 columns]

In [42]:
df_covid.groupby(['Country/Region','Date']).sum().sort_values('Date', ascending= False)
df_covid = df_covid.drop_duplicates(subset = ['Country/Region'])

AttributeError: 'list' object has no attribute 'groupby'

In [37]:
df_covid = df_covid.reset_index()

In [44]:
df_covid = covid[['Date', 'Country/Region', 'Confirmed', 'Recovered','Deaths']]

In [45]:
df_covid

             Date  Country/Region  Confirmed  Recovered  Deaths
0      01/22/2020  Mainland China        1.0        0.0     0.0
1      01/22/2020  Mainland China       14.0        0.0     0.0
2      01/22/2020  Mainland China        6.0        0.0     0.0
3      01/22/2020  Mainland China        1.0        0.0     0.0
4      01/22/2020  Mainland China        0.0        0.0     0.0
...           ...             ...        ...        ...     ...
30878  05/28/2020          Mexico     1661.0     1119.0   139.0
30879  05/28/2020          Canada       11.0       11.0     0.0
30880  05/28/2020  Mainland China      185.0      183.0     2.0
30881  05/28/2020          Mexico      272.0      182.0    31.0
30882  05/28/2020  Mainland China     1268.0     1267.0     1.0

[30883 rows x 5 columns]

In [56]:
df_covid.groupby(['Country/Region','Date']).sum().sort_values('Date', ascending=False)
df_covid = df_covid.drop_duplicates(subset = ['Country/Region'])

In [48]:
df_covid.reset_index()

     index        Date         Country/Region  Confirmed  Recovered  Deaths
0        0  01/22/2020         Mainland China        1.0        0.0     0.0
1       12  01/22/2020              Hong Kong        0.0        0.0     0.0
2       20  01/22/2020                  Macau        1.0        0.0     0.0
3       28  01/22/2020                 Taiwan        1.0        0.0     0.0
4       31  01/22/2020                     US        1.0        0.0     0.0
..     ...         ...                    ...        ...        ...     ...
218  12387  04/06/2020  Sao Tome and Principe        4.0        0.0     0.0
219  13705  04/10/2020                  Yemen        1.0        0.0     0.0
220  19963  04/30/2020                Comoros        1.0        0.0     0.0
221  20090  04/30/2020             Tajikistan       15.0        0.0     0.0
222  24221  05/13/2020                Lesotho        1.0        0.0     0.0

[223 rows x 6 columns]

In [49]:
df_covid = df_covid[['Date', 'Country/Region', 'Confirmed', 'Recovered','Deaths']]

In [50]:
df_covid

             Date         Country/Region  Confirmed  Recovered  Deaths
0      01/22/2020         Mainland China        1.0        0.0     0.0
12     01/22/2020              Hong Kong        0.0        0.0     0.0
20     01/22/2020                  Macau        1.0        0.0     0.0
28     01/22/2020                 Taiwan        1.0        0.0     0.0
31     01/22/2020                     US        1.0        0.0     0.0
...           ...                    ...        ...        ...     ...
12387  04/06/2020  Sao Tome and Principe        4.0        0.0     0.0
13705  04/10/2020                  Yemen        1.0        0.0     0.0
19963  04/30/2020                Comoros        1.0        0.0     0.0
20090  04/30/2020             Tajikistan       15.0        0.0     0.0
24221  05/13/2020                Lesotho        1.0        0.0     0.0

[223 rows x 5 columns]

In [51]:
df_covid = df_covid.reset_index(drop=True)

In [54]:
df_covid

           Date         Country/Region  Confirmed  Recovered  Deaths
0    01/22/2020         Mainland China        1.0        0.0     0.0
1    01/22/2020              Hong Kong        0.0        0.0     0.0
2    01/22/2020                  Macau        1.0        0.0     0.0
3    01/22/2020                 Taiwan        1.0        0.0     0.0
4    01/22/2020                     US        1.0        0.0     0.0
..          ...                    ...        ...        ...     ...
218  04/06/2020  Sao Tome and Principe        4.0        0.0     0.0
219  04/10/2020                  Yemen        1.0        0.0     0.0
220  04/30/2020                Comoros        1.0        0.0     0.0
221  04/30/2020             Tajikistan       15.0        0.0     0.0
222  05/13/2020                Lesotho        1.0        0.0     0.0

[223 rows x 5 columns]

In [61]:
df_covid = covid[['Date', 'Country/Region', 'Confirmed', 'Recovered','Deaths',]]

In [64]:
df_covid = df_covid.groupby(['Country/Region','Date']).sum()

In [65]:
df_covid.sort_values(by=['Date'], inplace=True)

In [66]:
df_covid

                                  Confirmed  Recovered  Deaths
Country/Region        Date
Grenada               05/28/2020       23.0       18.0     0.0
Malaysia              05/28/2020     7629.0     6169.0   115.0
Sao Tome and Principe 05/28/2020      458.0       68.0    12.0
Jamaica               05/28/2020      569.0      284.0     9.0
Congo (Kinshasa)      05/28/2020     2660.0      381.0    69.0
...                                     ...        ...     ...
Mainland China        01/22/2020      547.0       28.0    17.0
Macau                 01/22/2020        1.0        0.0     0.0
Thailand              01/22/2020        2.0        0.0     0.0
Japan                 01/22/2020        2.0        0.0     0.0
Hong Kong             01/22/2020        0.0        0.0     0.0

[16411 rows x 3 columns]

In [67]:
df_covid.reset_index()

              Country/Region        Date  Confirmed  Recovered  Deaths
0                    Grenada  05/28/2020       23.0       18.0     0.0
1                   Malaysia  05/28/2020     7629.0     6169.0   115.0
2      Sao Tome and Principe  05/28/2020      458.0       68.0    12.0
3                    Jamaica  05/28/2020      569.0      284.0     9.0
4           Congo (Kinshasa)  05/28/2020     2660.0      381.0    69.0
...                      ...         ...        ...        ...     ...
16406         Mainland China  01/22/2020      547.0       28.0    17.0
16407                  Macau  01/22/2020        1.0        0.0     0.0
16408               Thailand  01/22/2020        2.0        0.0     0.0
16409                  Japan  01/22/2020        2.0        0.0     0.0
16410              Hong Kong  01/22/2020        0.0        0.0     0.0

[16411 rows x 5 columns]

In [74]:
df_covid = df_covid.reset_index()

In [75]:
df_covid

              Country/Region        Date  Confirmed  Recovered  Deaths
0                    Grenada  05/28/2020       23.0       18.0     0.0
1                   Malaysia  05/28/2020     7629.0     6169.0   115.0
2      Sao Tome and Principe  05/28/2020      458.0       68.0    12.0
3                    Jamaica  05/28/2020      569.0      284.0     9.0
4           Congo (Kinshasa)  05/28/2020     2660.0      381.0    69.0
...                      ...         ...        ...        ...     ...
16406         Mainland China  01/22/2020      547.0       28.0    17.0
16407                  Macau  01/22/2020        1.0        0.0     0.0
16408               Thailand  01/22/2020        2.0        0.0     0.0
16409                  Japan  01/22/2020        2.0        0.0     0.0
16410              Hong Kong  01/22/2020        0.0        0.0     0.0

[16411 rows x 5 columns]

In [77]:
df_covid = df_covid.drop_duplicates(subset = ['Country/Region'])

In [78]:
df_covid

              Country/Region        Date  Confirmed  Recovered  Deaths
0                    Grenada  05/28/2020       23.0       18.0     0.0
1                   Malaysia  05/28/2020     7629.0     6169.0   115.0
2      Sao Tome and Principe  05/28/2020      458.0       68.0    12.0
3                    Jamaica  05/28/2020      569.0      284.0     9.0
4           Congo (Kinshasa)  05/28/2020     2660.0      381.0    69.0
...                      ...         ...        ...        ...     ...
14497             St. Martin  03/09/2020        2.0        0.0     0.0
14516              Palestine  03/09/2020       22.0        0.0     0.0
14577    Republic of Ireland  03/08/2020       21.0        0.0     0.0
15323          North Ireland  02/28/2020        1.0        0.0     0.0
15343             Azerbaijan  02/28/2020        1.0        0.0     0.0

[223 rows x 5 columns]

In [79]:
df_covid = df_covid.drop_duplicates(subset = ['Country/Region'])

In [80]:
df_covid

              Country/Region        Date  Confirmed  Recovered  Deaths
0                    Grenada  05/28/2020       23.0       18.0     0.0
1                   Malaysia  05/28/2020     7629.0     6169.0   115.0
2      Sao Tome and Principe  05/28/2020      458.0       68.0    12.0
3                    Jamaica  05/28/2020      569.0      284.0     9.0
4           Congo (Kinshasa)  05/28/2020     2660.0      381.0    69.0
...                      ...         ...        ...        ...     ...
14497             St. Martin  03/09/2020        2.0        0.0     0.0
14516              Palestine  03/09/2020       22.0        0.0     0.0
14577    Republic of Ireland  03/08/2020       21.0        0.0     0.0
15323          North Ireland  02/28/2020        1.0        0.0     0.0
15343             Azerbaijan  02/28/2020        1.0        0.0     0.0

[223 rows x 5 columns]

In [83]:
df_covid.drop_duplicates(subset='Country/Region', keep="last", inplace=True)

In [84]:
df_covid

              Country/Region        Date  Confirmed  Recovered  Deaths
0                    Grenada  05/28/2020       23.0       18.0     0.0
1                   Malaysia  05/28/2020     7629.0     6169.0   115.0
2      Sao Tome and Principe  05/28/2020      458.0       68.0    12.0
3                    Jamaica  05/28/2020      569.0      284.0     9.0
4           Congo (Kinshasa)  05/28/2020     2660.0      381.0    69.0
...                      ...         ...        ...        ...     ...
14497             St. Martin  03/09/2020        2.0        0.0     0.0
14516              Palestine  03/09/2020       22.0        0.0     0.0
14577    Republic of Ireland  03/08/2020       21.0        0.0     0.0
15323          North Ireland  02/28/2020        1.0        0.0     0.0
15343             Azerbaijan  02/28/2020        1.0        0.0     0.0

[223 rows x 5 columns]

In [86]:
df_covid = covid[['Date', 'Country/Region', 'Confirmed', 'Recovered','Deaths',]]

In [88]:
df_covid = df_covid.groupby(['Country/Region','Date']).sum()

AttributeError: 'NoneType' object has no attribute 'groupby'

In [91]:
df_covid = covid[['Date', 'Country/Region', 'Confirmed', 'Recovered','Deaths',]]

In [92]:
df_covid

             Date  Country/Region  Confirmed  Recovered  Deaths
0      01/22/2020  Mainland China        1.0        0.0     0.0
1      01/22/2020  Mainland China       14.0        0.0     0.0
2      01/22/2020  Mainland China        6.0        0.0     0.0
3      01/22/2020  Mainland China        1.0        0.0     0.0
4      01/22/2020  Mainland China        0.0        0.0     0.0
...           ...             ...        ...        ...     ...
30878  05/28/2020          Mexico     1661.0     1119.0   139.0
30879  05/28/2020          Canada       11.0       11.0     0.0
30880  05/28/2020  Mainland China      185.0      183.0     2.0
30881  05/28/2020          Mexico      272.0      182.0    31.0
30882  05/28/2020  Mainland China     1268.0     1267.0     1.0

[30883 rows x 5 columns]

In [93]:
df_covid = df_covid.groupby(['Country/Region','Date']).sum()

In [94]:
df_covid

                                           Confirmed  Recovered  Deaths
Country/Region                 Date
 Azerbaijan                    02/28/2020        1.0        0.0     0.0
('St. Martin',)                03/10/2020        2.0        0.0     0.0
Afghanistan                    02/24/2020        1.0        0.0     0.0
                               02/25/2020        1.0        0.0     0.0
                               02/26/2020        1.0        0.0     0.0
...                                              ...        ...     ...
occupied Palestinian territory 03/12/2020        0.0        0.0     0.0
                               03/14/2020        0.0        0.0     0.0
                               03/15/2020        0.0        0.0     0.0
                               03/16/2020        0.0        0.0     0.0
                               03/17/2020        0.0        0.0     0.0

[16411 rows x 3 columns]

In [95]:
df_covid.sort_values(by=['Date'], inplace=True)

In [96]:
df_covid

                             Confirmed  Recovered  Deaths
Country/Region   Date
Macau            01/22/2020        1.0        0.0     0.0
South Korea      01/22/2020        1.0        0.0     0.0
US               01/22/2020        1.0        0.0     0.0
Hong Kong        01/22/2020        0.0        0.0     0.0
Japan            01/22/2020        2.0        0.0     0.0
...                                ...        ...     ...
Barbados         05/28/2020       92.0       76.0     7.0
Papua New Guinea 05/28/2020        8.0        8.0     0.0
Afghanistan      05/28/2020    13036.0     1209.0   235.0
Canada           05/28/2020    89976.0    46961.0  6982.0
Indonesia        05/28/2020    24538.0     6240.0  1496.0

[16411 rows x 3 columns]

In [97]:
df_covid.drop_duplicates(subset='Country/Region', keep="last", inplace=True)

KeyError: Index(['Country/Region'], dtype='object')

In [98]:
df_covid

                             Confirmed  Recovered  Deaths
Country/Region   Date
Macau            01/22/2020        1.0        0.0     0.0
South Korea      01/22/2020        1.0        0.0     0.0
US               01/22/2020        1.0        0.0     0.0
Hong Kong        01/22/2020        0.0        0.0     0.0
Japan            01/22/2020        2.0        0.0     0.0
...                                ...        ...     ...
Barbados         05/28/2020       92.0       76.0     7.0
Papua New Guinea 05/28/2020        8.0        8.0     0.0
Afghanistan      05/28/2020    13036.0     1209.0   235.0
Canada           05/28/2020    89976.0    46961.0  6982.0
Indonesia        05/28/2020    24538.0     6240.0  1496.0

[16411 rows x 3 columns]

In [99]:
df_covid = df_covid.reset_index()

In [100]:
df_covid

         Country/Region        Date  Confirmed  Recovered  Deaths
0                 Macau  01/22/2020        1.0        0.0     0.0
1           South Korea  01/22/2020        1.0        0.0     0.0
2                    US  01/22/2020        1.0        0.0     0.0
3             Hong Kong  01/22/2020        0.0        0.0     0.0
4                 Japan  01/22/2020        2.0        0.0     0.0
...                 ...         ...        ...        ...     ...
16406          Barbados  05/28/2020       92.0       76.0     7.0
16407  Papua New Guinea  05/28/2020        8.0        8.0     0.0
16408       Afghanistan  05/28/2020    13036.0     1209.0   235.0
16409            Canada  05/28/2020    89976.0    46961.0  6982.0
16410         Indonesia  05/28/2020    24538.0     6240.0  1496.0

[16411 rows x 5 columns]

In [101]:
df_covid.drop_duplicates(subset='Country/Region', keep="last", inplace=True)

In [102]:
df_covid

            Country/Region        Date  Confirmed  Recovered  Deaths
1034         North Ireland  02/28/2020        1.0        0.0     0.0
1085            Azerbaijan  02/28/2020        1.0        0.0     0.0
1836   Republic of Ireland  03/08/2020       21.0        0.0     0.0
1909             Palestine  03/09/2020       22.0        0.0     0.0
1923          Vatican City  03/09/2020        1.0        0.0     0.0
...                    ...         ...        ...        ...     ...
16406             Barbados  05/28/2020       92.0       76.0     7.0
16407     Papua New Guinea  05/28/2020        8.0        8.0     0.0
16408          Afghanistan  05/28/2020    13036.0     1209.0   235.0
16409               Canada  05/28/2020    89976.0    46961.0  6982.0
16410            Indonesia  05/28/2020    24538.0     6240.0  1496.0

[223 rows x 5 columns]

In [103]:
df_covid = df_covid.reset_index()

In [104]:
df_covid

     index       Country/Region        Date  Confirmed  Recovered  Deaths
0     1034        North Ireland  02/28/2020        1.0        0.0     0.0
1     1085           Azerbaijan  02/28/2020        1.0        0.0     0.0
2     1836  Republic of Ireland  03/08/2020       21.0        0.0     0.0
3     1909            Palestine  03/09/2020       22.0        0.0     0.0
4     1923         Vatican City  03/09/2020        1.0        0.0     0.0
..     ...                  ...         ...        ...        ...     ...
218  16406             Barbados  05/28/2020       92.0       76.0     7.0
219  16407     Papua New Guinea  05/28/2020        8.0        8.0     0.0
220  16408          Afghanistan  05/28/2020    13036.0     1209.0   235.0
221  16409               Canada  05/28/2020    89976.0    46961.0  6982.0
222  16410            Indonesia  05/28/2020    24538.0     6240.0  1496.0

[223 rows x 6 columns]

In [105]:
df_covid.to_excel('CovidModifiedData.xlsx', index=False)

In [106]:
df_covid = df_covid.reset_index()

In [108]:
df_covid.reset_index()

ValueError: cannot insert level_0, already exists

In [111]:
df_covid = pd.read_excel('CovidModifiedData.xlsx')

In [112]:
df_covid

     index       Country/Region        Date  Confirmed  Recovered  Deaths
0     1034        North Ireland  02/28/2020          1          0       0
1     1085           Azerbaijan  02/28/2020          1          0       0
2     1836  Republic of Ireland  03/08/2020         21          0       0
3     1909            Palestine  03/09/2020         22          0       0
4     1923         Vatican City  03/09/2020          1          0       0
..     ...                  ...         ...        ...        ...     ...
218  16406             Barbados  05/28/2020         92         76       7
219  16407     Papua New Guinea  05/28/2020          8          8       0
220  16408          Afghanistan  05/28/2020      13036       1209     235
221  16409               Canada  05/28/2020      89976      46961    6982
222  16410            Indonesia  05/28/2020      24538       6240    1496

[223 rows x 6 columns]

In [113]:
df_covid.reset_index(drop=True, inplace=True)

In [114]:
df_covid

     index       Country/Region        Date  Confirmed  Recovered  Deaths
0     1034        North Ireland  02/28/2020          1          0       0
1     1085           Azerbaijan  02/28/2020          1          0       0
2     1836  Republic of Ireland  03/08/2020         21          0       0
3     1909            Palestine  03/09/2020         22          0       0
4     1923         Vatican City  03/09/2020          1          0       0
..     ...                  ...         ...        ...        ...     ...
218  16406             Barbados  05/28/2020         92         76       7
219  16407     Papua New Guinea  05/28/2020          8          8       0
220  16408          Afghanistan  05/28/2020      13036       1209     235
221  16409               Canada  05/28/2020      89976      46961    6982
222  16410            Indonesia  05/28/2020      24538       6240    1496

[223 rows x 6 columns]

In [117]:
del df_covid['index']

In [118]:
df_covid

          Country/Region        Date  Confirmed  Recovered  Deaths
0          North Ireland  02/28/2020          1          0       0
1             Azerbaijan  02/28/2020          1          0       0
2    Republic of Ireland  03/08/2020         21          0       0
3              Palestine  03/09/2020         22          0       0
4           Vatican City  03/09/2020          1          0       0
..                   ...         ...        ...        ...     ...
218             Barbados  05/28/2020         92         76       7
219     Papua New Guinea  05/28/2020          8          8       0
220          Afghanistan  05/28/2020      13036       1209     235
221               Canada  05/28/2020      89976      46961    6982
222            Indonesia  05/28/2020      24538       6240    1496

[223 rows x 5 columns]

In [119]:
df_covid.to_excel('FinalModifiedData.xlsx', index=False)

In [206]:
fig = go.Figure(data=go.Choropleth(
    locations = df_covid['Country/Region'],
    locationmode = 'country names',
    z = df_covid['Confirmed'],
    colorscale = 'blues',
    autocolorscale = False,
    colorbar_title = "Confirmed Cases",
    marker_line_color = 'black',
    marker_line_width = 1,
))

In [207]:
fig.update_layout(
    title_text = 'Corona virus cases as of may 28th')
fig.show()

In [152]:
import plotly.express as px

In [205]:
import chart_studio
username = 'Gufran_777'
api_key = 'Sh6qOAZ7yS5g2fvTSLja'
chart_studio.tools.set_credentials_file(username = username, api_key=api_key)
import chart_studio.tools as tls

In [210]:
import chart_studio.plotly as py
py.plot(fig, filename = 'Confirmed Covid cases', auto_open = False)

'https://plotly.com/~Gufran_777/1/'